<!DOCTYPE html>
<html>
<body>
<header>
  <%= image_tag "logo.png", alt: 'Chennai foto wall' %>


</header>
<%- model_class = Consultant -%>

<div class="edit_form">

  <h1>Please fill in all that is applicable to you</h1>

<%= render :partial => 'form' %>
</div>
</body>
</html>







