@charset "UTF-8";
/* CSS Document */
@font-face{
	font-family : "myCustomFont1";
	src:url(/assets/Candara.ttf);
}
@font-face{
	font-family : "myCustomFont2";
	src:url(/assets/mysi.ttf);
}
body{
	font-family:"myCustomFont1", Arial;
	font-size: 13px;
	margin:0px;
	padding:0px;
	background-color:#111;
	background-size:10px 10px;
    /*background: #373737 url("bg.png") 0 0 repeat;*/
	background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, transparent 26%, transparent 50%, rgba(255, 255, 255, 0.1) 51%, rgba(255, 255, 255, 0.1) 75%,transparent 76%);
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, transparent 26%, transparent 50%, rgba(255, 255, 255, 0.1) 51%, rgba(255, 255, 255, 0.1) 75%,transparent 76%);
}

header{
	background:#282828;
	padding:10px 10px 5px;
	font-size:1.2em;
	margin-bottom:20px;
	-moz-box-shadow:0px 10px 20px rgba(0,0,0,0.7);
	-webkit-box-shadow:0px 10px 20px rgba(0,0,0,0.7);
	-o-box-shadow:0px 10px 20px rgba(0,0,0,0.7);
	box-shadow:0px 10px 20px rgba(0,0,0,0.7);
	position:fixed;
	width:99%;
	z-index:9999;
	top:0px;
}

header .sort_panel, header .filter_panel, .logo-image, header .search_con{
	float:left;
	margin:-2px 5px 0px;
    width: 200px;
}

header .login_panel {
    float: right;
    margin-top:-5px;
}

header .login_panel a{
    text-decoration: none;
}

header a.sel {	
	padding:5px 25px 5px 10px;
	color:#555;
	min-width:150px;
	text-decoration:none;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	background:url(/assets/arrow.png) no-repeat right 9px #E3FF3E;
	display:block;	
}
header a.sel:hover{
	color:#111;
	background-position:right -18px;	
}
header .filter_panel a.sel{
	background-color: #fdc93e;	
}
header ul{
	position:absolute;
	min-width:185px;	
	list-style:none;
	line-height:auto;	
	background:#efff8e;
	list-style-position:outside;
	margin:2px 0px 0px;
	padding:0px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	
}
header ul a{
	border-top:1px solid #bbd233;
	color:#899a25;
	padding:5px;
	text-decoration:none;
	display:block;	
}
header .filter_panel ul{
	background:#fddf8e;	
}
header .filter_panel ul a{
	border-top:1px solid #e4b538;
	color:#b18d2b;
}
header ul li:first-child a{
	border:none !important;
}
header ul a:hover{
	color:#000 !important;
	text-shadow:0px 0px 15px #999;
}

.consultant-layout{
    padding:60px 10px 10px 10px;
    width: 90%;
    margin: 0px auto;
}

.dashboard-layout{
    padding:60px 10px 10px 10px;
    width: 90%;
    margin: 0px auto;
}

#activityFeed {
    padding:60px 10px 10px 10px;
    width: 23%;
    float: right;
    background:#111;
    position: fixed;
    right:0px;
    color:#ccc;
}
#activityFeed .activity{
	padding:5px;
	border-bottom:1px solid #333;
}
#activityFeed .activity .photo{
	float:left;
	width:15%;
	
}
#activityFeed .activity .photo img{
	width:100%;

}
#activityFeed .activity .body{
	float:left;
	padding:0px 2%;
	font-size: 1.1em;
	width:66%;
}
#activityFeed .activity .timeago{
	padding-top:10px;
	color: #666;
	font-size: 0.9em;
}
#activityFeed .activity .activity-icon{
	float:right;
	width:15%;
	height:30px;
}

#activityFeed .activity a {
    text-decoration: none;
    color: #7bb3ff;
}

#activityFeed .activity .activity-icon.github{
	background:url(/assets/persona/github_g.png) no-repeat center center;
}
#activityFeed .activity .activity-icon.twitter{
	background:url(/assets/persona/twitter_g.png) no-repeat center center;
}
#activityFeed .activity .activity-icon.blog{
	background:url(/assets/persona/blog_g.png) no-repeat center center;
}
#activityFeed .activity .activity-icon.stackoverflow{
	background:url(/assets/persona/stackoverflow_g.png) no-repeat center center;
}
#activityFeed .activity .activity-icon.good_reads{
	background:url(/assets/persona/good_reads_g.png) no-repeat center center;
}
#activityFeed .activity .activity-icon.facebook{
	background:url(/assets/persona/facebook_g.png) no-repeat center center;
}

.empData{
    float:left;
    margin:5px;
    position: relative;
    overflow: hidden;
}

.empPhoto{
    width:160px;
    height:160px;
    padding:5px;
    background:#fff;
    cursor: pointer;
}
.empSlideData{
    background: rgba(0,0,0,0.7);
    color:#fff;
    width:170px;
    height:50px;
    position:absolute;
    margin-top:-49px;
    border-top: 1px solid #000;
    /*display:none;*/
    bottom:-50px;
    -moz-transition-duration:.2s;
    -webkit-transition-duration:.2s;
    -o-transition-duration:.2s;
    transition-duration:.2s;
}

.empData:hover>.empSlideData,.empData.hover>.empSlideData {
    bottom:0px;
}

.empSlideData span{
    display:block;
    padding:0px 5px 5px;
}

.empSlideData span:first-child{
	padding:5px;
}

#employeePopup{
	background:rgba(33,33,33,0.7);
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;	
	display:none;
	font-size:1.2em;
	z-index:99999;
}
#employeePopup .close{
	width:30px;
	height:30px;
	display:block;
	position:relative;
	float:right;
	margin:-15px -15px 0px 0px;	
	background:url(/assets/icon_close.png) no-repeat;
	font-size:0px;
}
#photoUploadPopup .close{
    width:30px;
    height:30px;
    display:block;
    position:relative;
    float:right;
    margin:-15px -15px 0px 0px;
    background:url(/assets/icon_close.png) no-repeat;
    font-size:0px;
}
.edit_profile_link{
	
	float:right;
	margin:-18px -15px 0px 0px;	
	background:url(/assets/icon_edit.png) no-repeat 6px 5px #fddf90;
	position:relative;
	top:-10px;
	right:-25px;
	font-size:0px;
	border-radius:3px;
	border:1px solid #fff;
	box-shadow: 0px 0px 5px #ccc;
	width:22px;
	height:22px;
}
.edit_profile_link:hover{
	background:url(/assets/icon_edit.png) no-repeat 6px 5px #fdc93e;
	box-shadow:0px 0px 5px #666;
}
#employeePopup .content_panel{
	border:3px solid #fff;
	width:540px;
	height:400px;
	margin:20px auto;
	position:absolute;
	background-image:-webkit-linear-gradient(top, #eee 30%, #bbb);
	background-image:-moz-linear-gradient(top, #eee 30%, #bbb);
	background-image:linear-gradient(top, #eee 30%, #bbb);
}

#photoUploadPopup{
    background:rgba(33,33,33,0.7);
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    display:none;
    font-size:1.2em;
    z-index:99999;
}

#photoUploadPopup .content_panel{
    border:3px solid #fff;
    margin: 50px auto;
    position:absolute;
    background-image:-webkit-linear-gradient(top, #eee 30%, #bbb);
    background-image:-moz-linear-gradient(top, #eee 30%, #bbb);
    background-image:linear-gradient(top, #eee 30%, #bbb);
}

#photoUploadPopup .content_panel img{
    margin: 20px;
}

#photoUploadPopup .content_panel .apply{
    margin: 5px;
}

.empPopupData{
	padding:10px;	
}
.empPopupData .photo_panel{
	float: left;
	width:180px;
	padding-bottom:10px;
}
.empPopupData .photo_panel img{
	width:160px;
	height:160px;
	
}
.empPopupData .data_panel{
	float:left;
	width:295px;
}
.empPopupData .data_panel label{
	padding:5px;
	display:block;
}
.empPopupData .data_panel label.name{
	font-size:2em;
	/*font-family:"myCustomFont2";*/
	padding:0px 5px;
}
.empPopupData .data_panel label.role{
	padding-top:0px;
	color:#666;
	display:inline-block;
}
.empPopupData .data_panel label.grade{
	padding-top:0px;
	text-align:right;
	color:#930;
	display:inline-block;
}
.empPopupData .data_panel div.contact{
	padding:5px 5px 0px;
	border-top:1px dashed #ccc;
	border-bottom:1px dashed #ccc;
}
.empPopupData .data_panel div.contact label{
	background:url(/assets/icons.png) no-repeat;
	padding:1px 5px 10px 23px;
}
.empPopupData .data_panel div.contact label.email{
	background-position:0px -28px;	
}
.empPopupData .data_panel div.contact label.skype{
	background-position:0px -56px;	
}
.empPopupData .data_panel label.exp{
	color:#666;	
}
.empPopupData .data_panel label.exp span{
	color: #333;	
}
.empPopupData label.skills{
	color: #666;
	display:block;	
}
.empPopupData label.skills_value{
	color: #333;	
}
.hide{
	display:none;
}
.clear{clear:both;}


.edit_form{
	padding:20px;
	width:80%;
	margin:100px auto 0px;
	background:#111;
	opacity: 0.9;
	border-radius:5px;
}

.edit_form h1{
	color:#666;
	font-weight: normal;
	font-style:italic;
	padding:0px 0px 5px;
	font-size: 1.2em;
}

.edit_form .photo_panel{
	float:left;
	width:20%;
	padding-top:60px;
	text-align: center;
}

.edit_form .left_panel{
	float:left;
	width:35%;

}

.edit_form .right_panel{
	float:right;
	width:35%;

}

.edit_form h2{
	color:#f4ffb3;
	font-weight: normal;
	border-bottom:1px dashed #333;
	padding:5px 0px 10px 0px;
	font-size:1.2em;
}

.edit_form .control-group{
	padding:0px 10px 10px 10px;
}

.edit_form label{
	color:#999;
	font-size:1.2em;
	padding-bottom: 2px;
}

.edit_form input{
	padding:5px;
	font-size: 1.1em;
	width: 90%;
	background:#000	;
	border:1px solid #333;
	color:#fff;
}

.edit_form .form-actions{
	border-top:1px solid #666;
	margin:10px 0px 0px;
	padding:10px 0px 0px;
	text-align:right;
}
.edit_form .form-actions input{
	background:#fdc93e;
	padding:5px 20px;
	width:auto;
	color:#000;
}
.edit_form .form-actions input:hover{
	background:#fdbe15;

	cursor: pointer;
}
.edit_form .form-actions a{
	color:#ccc;
	padding:3px 10px;
	margin-left: 10px;
	border-left:1px dashed #ccc;
}
.empPopupData table img{
	opacity: 0.5;
}
.empPopupData table img:hover{
	opacity: 1;
}

.hidden {
    display: none;
}

.master_container {
    width: 100%;
}